@font-face {
	font-family: Cath;
	src: url(Cath.ttf);
}

body{
	margin: 0;
	min-width: 100%;
	overflow: visible;
}

.header {
	overflow: visible;
	position: fixed;
	height: 2.5%;
	top:0px;
	left:0px;
	right: 0px;
	background-color: #262626 ;
	}
.right {
	overflow: visible;
	color: white;
	float:right;
	margin-top: 2px;
	padding-left: 1.5%;
	padding-right: 4%;
	border-left: 4px solid #fff;
}
#marge {
	margin-right: 5%;
}



.corps {
	overflow: visible;
	width: 100%;
	position: fixed;
	top: 9.9%;
	height: 55%;
	left:0px;
	background-image:url(NewWorld_fde1_Main.jpg);
	background-size: 55%;
	background-position: center;
	background-color: black ;
	background-repeat: no-repeat;
}


a {
	color: white;
	text-decoration: none;
}

.menu_Droite{
	margin-right: 20%;
	overflow: visible;
}
.menu {
	position: fixed;
	height: 6.8%;
	top:3.1%;
	right:0px;
	left:0px;
	background-color: #666 ;
	background-image:linear-gradient(#555555, #202020);
	overflow: visible;

}

.ensembleBoutonMenu{
	font-size: 9px;
	font-weight: bold;
	padding-right: 0%;
	padding-left: 4%;
	overflow: visible;
	margin-top: -5px;
}


.menuBouton_recherche {	
	color: white;
	height: 30px;
	vertical-align:5px;
	border-radius: 15px;
	appearance: none;
	display: inline-block;
	margin-left: 15%;
	padding-right: 0px;
	margin-top :-4px;
	background-image:linear-gradient(black,grey);
	//background-image: url(Loupe_recherche.jpg);
	//background-size: 25px;
	//background-repeat: no-repeat;
	//background-position: -5px;
	width: 150%;
	border-width: 0.02em ;
	border-left-width: 10px;
	border-left-color: transparent;
	overflow: auto;
}

.menuBouton {
	color:red;
	overflow: visible;
	font-family: arial;
	font-size: 25px;
	color: white;
	display: inline-block;
	padding-left:13%;
	margin-top: 25px;

}
@keyframes anime{
	0%{color:cyan;}
	16%{color:black;}
	32%{color:white;}
	48%{color:red;}
	64%{color:white;}
	80%{color:black;}
	96%{color:white;}
}
.grosNW{
	overflow: visible;
	font-family: Arial;
	color: white;
	display: inline-block;
	margin-top: 10px;
	margin-left: -3.7%;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 40px;
	font-weight: bold;
	text-shadow: 4px 9px 1px #000;
	animation-name: anime;
	animation-duration: 5sec;
	animation-iteration-count: infinite;
}
.grosNW:first-letter{
	font-weight: normal;
	animation-name: anim;
	animation-duration: 15sec;
	animation-iteration-count: infinite;
}
p.Newworld{
	display: inline-block;
}
.Text{
	position: absolute;
	left:2%;
	top:16%;
	text-align: center;
	line-height: 90%;
	font-family: arial;
	font-size: 27px;
	color: #698ACA;

}
.Text > p::first-letter {
	font-family: Cath ;
	font-size: 50px;
	padding-right:5px; 
}


.pic{
	right:0%;
	top:11%;
	position: fixed;
	overflow: visible;
	margin-right: 2%;
	float: right;
	width: 12%;
}


img{
	float: right;
	position: right;
	float:right;
	width: 120%;
	padding-top: 6%;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-bottom: visible;
}

.Gris{
	font-family: arial;
	position: fixed;
	align-content: center;
	top:62.9%;
	width: 100%;
	height: 30.1%;
	padding-top: 0%;
	background-image:linear-gradient(#51545A,#1E1E1F);
}

.menuGris{
	position: relative;
	left:15%;
	padding-left: 2.5%;
    padding-right: 2.5%;
    float: left;
    display: inline-block;
    color:white;
}

.titreGris{
	font-size: 27px;
	text-align: right;
	color:orange;
}

.Footer{
	font-family: arial;
	font-size: 15.5px;
	color:white;
	position: fixed;
	text-align: right;
	top: 98%;
	height:2%;
	left:0%;
	right: 0%;
	padding-right: 1%;
	background-color: #1E1E1F;
}

.nousContacter{
	margin-top :10%;
	margin-left: 3%;
	width: 96%;
}

.marge{
	margin-left: 3%;
}